ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9567E2;
}
li {
    display: inline;
    float: left;
}
li a {
   display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #9567E2;
}
p {
  font-family: " Times New Roman", serif;
  font-size: 24px;
  color: #9567E2;  
}
